h2 {
    font-family: monospace;
}

h2 span {
    background-color: green;
}

body {
    background-image: url("https://wallpaperplay.com/walls/full/b/b/e/116085.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}